In [4]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\danie\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (1.4.40)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\danie\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from sqlalchemy) (1.1.3)

In [5]:
#Importing libraries
import pandas as pd 
from sqlalchemy import create_engine

In [6]:
#creating connection to local postgres database - databasename = assignment-db
password= '1234' #replace with your database password
engine = create_engine(f"postgresql://postgres:{password}@localhost:5432")
conn1 = engine.connect()

In [7]:
conn1.execute(f"COMMIT") 
conn1.execute('CREATE DATABASE assignment_3')
conn1.close()

In [8]:
engine = create_engine(f"postgresql://postgres:{password}@localhost:5432/assignment_3")
conn = engine.connect()

In [9]:
#create table and insert data into postgres table.
conn.execute("""
    CREATE TABLE  students (
        student_id SERIAL PRIMARY KEY,
        first_name TEXT NOT NULL,
        last_name TEXT NOT NULL,
        email TEXT NOT NULL UNIQUE,
        enrollment_date DATE
    );
    
INSERT INTO students (first_name, last_name, email, enrollment_date) VALUES
    ('John', 'Doe', 'john.doe@example.com', '2023-09-01'),
    ('Jane', 'Smith', 'jane.smith@example.com', '2023-09-01'),
    ('Jim', 'Beam', 'jim.beam@example.com', '2023-09-02');    
    
    
""")

In [11]:
def getAllStudents():
    """Function to get all students"""
    student_details = pd.read_sql_query("""
    SELECT * FROM students
    """, con=conn)
    print(student_details)

def addStudent(first_name, last_name, email, enrollment_date):
    """Function to add a new student"""
    insert = """
    INSERT INTO students (first_name, last_name, email, enrollment_date) 
    VALUES ('{}', '{}', '{}', '{}')
    """.format(first_name, last_name, email, enrollment_date)
    conn.execute(insert)


def updateStudentEmail(student_id, new_email):
    """ Function to update a student's email """
    
    update = """
    UPDATE students 
    SET email = '{}' 
    WHERE student_id = {}
    """.format(new_email, student_id)
    conn.execute(update)

def deleteStudent(student_id):
    """Function to delete a student"""
    delete = "DELETE FROM students WHERE student_id = {}".format(student_id)
    conn.execute(delete)

In [12]:
getAllStudents()

   student_id first_name last_name                   email enrollment_date
0           1       John       Doe    john.doe@example.com      2023-09-01
1           2       Jane     Smith  jane.smith@example.com      2023-09-01
2           3        Jim      Beam    jim.beam@example.com      2023-09-02

In [13]:
addStudent('ali','khan','alikhan@example.com','2024-03-17')

In [14]:
getAllStudents()

   student_id first_name last_name                   email enrollment_date
0           1       John       Doe    john.doe@example.com      2023-09-01
1           2       Jane     Smith  jane.smith@example.com      2023-09-01
2           3        Jim      Beam    jim.beam@example.com      2023-09-02
3           4        ali      khan     alikhan@example.com      2024-03-17

In [15]:
updateStudentEmail(4,'alikhan1238@example.com')

In [16]:
getAllStudents()

   student_id first_name last_name                    email enrollment_date
0           1       John       Doe     john.doe@example.com      2023-09-01
1           2       Jane     Smith   jane.smith@example.com      2023-09-01
2           3        Jim      Beam     jim.beam@example.com      2023-09-02
3           4        ali      khan  alikhan1238@example.com      2024-03-17

In [17]:
deleteStudent(4)

In [18]:
getAllStudents()

   student_id first_name last_name                   email enrollment_date
0           1       John       Doe    john.doe@example.com      2023-09-01
1           2       Jane     Smith  jane.smith@example.com      2023-09-01
2           3        Jim      Beam    jim.beam@example.com      2023-09-02

In [19]:
conn.close()